// $color-background: var(--vt-c-white);
// $color-background-soft: var(--vt-c-white-soft);
// $color-background-mute: var(--vt-c-white-mute);

// // $color-border: var(--vt-c-divider-light-2);
// // $color-border-hover: var(--vt-c-divider-light-1);

// // $color-heading: var(--vt-c-text-light-1);
// // $color-text: var(--vt-c-text-light-1);

$section-background-light: #36404a;
$section-background-dark: #303841;
$primary-background: #f5f7fb;
$secondary-background: #ffffff;

$color-text-primary: #000;
$color-text-secondary: #7a7f9a;

$color-primary: #7269ef;

$color-primary-light: #f5f7fb;
$color-primary-white: #ffff;

$secondary-color: #a6b0cf;


$modal-bg: #00000099;
$modal-zindex: 100000000000000000000;
$form-bg: transparent;
$close-icon-size: 30px;
$close-icon-offset: -80px;
$icon-size: 20px;
$input-border-color: #6c63ff;
$button-bg: #7269ef;
$button-text-color: white;
$hover-bg: #7269ef;