@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#app {
  width:100%;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style:normal;
}

*{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

.feedback{
 
  color:white;
  padding:9px 12px;
  border-radius:6px;
  margin:5px 0px;
  transition:0.4 ease-in-out;
  opacity:1;
  
}


@media (hover: hover) {
 
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

 

  #app h1{
    font-size:40px;
  }

  #app h2{
    font-size:28px;
  }

  #app p{
    font-size:17px;
  }

  #app a:hover{
  text-decoration:underline;;
  }

  #app label{font-size:18px;}

  #app input{font-size:14px;}

  main {
    width:100%;
    line-height: 1.5;
    min-height: 92vh;
  }
}
